<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.applicationHost>
    <sites>
      <site name="CinemaApp" id="1" serverAutoStart="true">
        <application path="/">
          <virtualDirectory path="/" physicalPath="%SHIPPING_PATH%" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:50594:" />
        </bindings>
      </site>
    </sites>
    <applicationDefaults applicationPool="Clr4IntegratedAppPool" />
  </system.applicationHost>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
