<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit.dll" version="1.0.10123" targetFramework="net472" />
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="Google.Apis" version="1.73.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.73.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.73.0" targetFramework="net472" />
  <package id="Google.Apis.Gmail.v1" version="1.73.0.4029" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.12.4" targetFramework="net472" />
  <package id="MailKit" version="4.15.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="4.1.0" targetFramework="net48" />
  <package id="MimeKit" version="4.15.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="10.0.5" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
</packages>